/*css reset */

*{
    border:0;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
main{
    position:relative;
    width:90%;
    height: 800px;
    background-color: cornflowerblue;
    margin: auto;

}
#cabecalho{
    position:relative;
    width:100%;
    height: 100px;
    background-color: rgb(175, 71, 135);
    
}
#menu{
    position:relative;
    width:100%;
    height: 50px;
    background-color: rgb(71, 175, 135);
}
#esquerda{
    position:relative;
    width:30%;
    height: 450px;
    background-color: rgb(135, 71, 175);
    float: left;
    
}
#direita{
    position:relative;
    width:70%;
    height: 450px;
    background-color: rgb(71, 135, 175);
    float: left;
    
}
#footer{
    position:relative;
    width:100%;
    height: 50px;
    background-color: rgb(83, 223, 108);
    text-align: center;
    clear: left;
}